<link rel="stylesheet" type="text/css" href="Css/login.css">
<div ng-controller="loginController">
    <div ng-show="showLogin" id="LoginForm" class="modal">
        <form class="modal-content animate">
            <div class="imgcontainer">
                <span ui-sref="maps" class="back" title="Back to home">&times;</span>
                <img src="Images/login_avatar.png" alt="Avatar" class="avatar">
            </div>

            <div class="container">
                <label for="email"><b>Email</b></label>
                <input type="text" ng-model="loginForm.email" placeholder="Email" name="email" required>

                <label for="password"><b>Password</b></label>
                <input type="password" ng-model="loginForm.password" placeholder="Password" name="password" required>

                <button type="submit" ng-click="submitLogin();">Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" ng-click="toggleLogin(); toggleRegister();" class="signUpBtn">Sign Up</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </form>
    </div>

    <div ng-show="showRegister" id="RegisterForm" class="modal">
        <form class="modal-content animate">
            <div class="imgcontainer">
                <span ui-sref="maps" class="back" title="Back to home">&times;</span>
                <img src="Images/register_avatar.png" alt="Avatar" class="avatar">
            </div>

            <div class="container">
                <label for="fullName"><b>Full Name</b></label>
                <input type="text" ng-model="registerForm.fullName" placeholder="Full Name" name="fullName" required>

                <label for="email"><b>Email</b></label>
                <input type="text" ng-model="registerForm.email" placeholder="Email" name="email" required>

                <label for="password"><b>Password</b></label>
                <input type="password" ng-model="registerForm.password" placeholder="Password" name="password" required>

                <button type="submit" ng-click="submitRegister();">Register</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="location.href = 'index.html'" class="homeBtn">Home</button>
            </div>
        </form>
    </div>
</div>