<!--map-->
<!--bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!--bootstrap-->

<div ng-controller="mapsController">
    <div class="col-md-12" style="background-color:#f3f3f3">
        <button ng-show="isLogged" ng-click="toggleAddPin()" type="button" class="btn btn-success" style="margin-left: -15px">Add pin</button>
        <isteven-multi-select input-model="types"
                              output-model="selectedTypes"
                              button-label="name"
                              item-label="name"
                              tick-property="ticked"
                              helper-elements="all none">
        </isteven-multi-select>

    <hr ng-show="isLogged" style="margin:0; background-color: rebeccapurple;"/>
        <form ng-show="showAddPin" >
            <div class="form-group row">
                <div class="col-md-6 row" style="margin-top:10px">
                    <label style="padding-top:3px" class="col-md-3">Name: </label>
                    <input ng-model="pinRequest.name" class="col-md-9 form-control" type="text">
                </div>
                <div class="col-md-6 row" style="margin-top:10px">
                    <label style="padding-top:3px" class="col-md-3">Type: </label>
                    <div isteven-multi-select
                         input-model="pinTypes"
                         output-model="pinRequest.type"
                         button-label="name"
                         item-label="name"
                         tick-property="ticked"
                         selection-mode="single"
                         helper-elements="all none"
                         class="thinDropdown">
                    </div>
                </div>
                <div class="col-md-6 row" style="margin-top:10px">
                    <label style="padding-top:3px" class="col-md-3">Latitude: </label>
                    <input ng-model="pinRequest.latitude" class="col-md-9 form-control" type="number">
                </div>
                <div class="col-md-6 row" style="margin-top:10px">
                    <label style="padding-top:3px" class="col-md-3">Longitude: </label>
                    <input ng-model="pinRequest.longitude" class="col-md-9 form-control" type="number">
                </div>
                <div class="col-md-6 row" style="margin-top:10px">
                    <label style="padding-top:3px" class="col-md-3">Address: </label>
                    <input ng-model="pinRequest.address" class="col-md-9 form-control" type="text">
                </div>
                <div class="col-md-6 row" style="margin-top:10px">
                    <label style="padding-top:3px" class="col-md-3">Contact: </label>
                    <input ng-model="pinRequest.contact" class="col-md-9 form-control" type="text">
                </div>
                <div class="col-md-6 row" style="margin-top:10px">
                    <label style="padding-top:3px" class="col-md-3">Description: </label>
                    <input ng-model="pinRequest.description" class="col-md-9 form-control" type="text">
                </div>
                <div class="col-md-6 row" style="margin-top:10px">
                    <label style="padding-top:3px" class="col-md-3">Number of members: </label>
                    <input ng-model="pinRequest.membersNumber" class="col-md-9 form-control" type="number">
                </div>
                <div class="col-md-6 row" style="margin-top:10px">
                    <label style="padding-top:3px" class="col-md-3">Number of women: </label>
                    <input ng-model="pinRequest.womenNumber" class="col-md-9 form-control" type="number">
                </div>
                <div class="col-md-6 row" style="margin-top:10px">
                    <label style="padding-top:3px" class="col-md-3">Projects for women: </label>
                    <input ng-model="pinRequest.womenProjects" class="col-md-9 form-control" type="text">
                </div>
                <div class="col-md-6 row" style="margin-top:10px">
                    <label style="padding-top:3px" class="col-md-3">Benefits for women: </label>
                    <input ng-model="pinRequest.womenBenefits" class="col-md-9 form-control" type="text">
                </div>
                <div class="col-md-12 row" style="margin-top:10px">
                    <button ng-disabled="enableAddPin()" ng-click="toggleAddPin(); addPin()" type="button" class="btn btn-success" style="margin-left:1em">Add pin requels</button>
                    <div class="col-md-10"></div>
                    <button ng-click="toggleAddPin()" type="button" class="btn btn-danger">Cancel</button>
                </div>
            </div>
        </form>
    </div>
    <div id="wrapper">
    <div id="map"></div>
    
        <div ng-show="showSlider" id="details" class="mdl">
            <div class="mdl-content animate">
                <div class="container .animate">
                    <div class="popup">
                        <h3 class="name" ng-model="pin.name">
                             {{pin.name}}
                        </h3>
                        <p class="title" ng-model="pin.type">
                            {{pin.type}}
                        </p>
                        <div class="address" ng-model="pin.address">
                            {{pin.address}}
                        </div>
                        <div class="contact" ng-model="pin.contact">
                            {{pin.contact}}
                        </div>
                        <p class="title description" ng-model="description">
                            {{pin.description}}
                        </p>
                        <ul class="reviews">
                            <li class="review" ng-repeat="review in pin.reviews">
                                <span class="rating">
                                 <span ng-repeat="n in getNumber(review.rating)">☆</span></span>
                                <span class="rating">
                                    <span ng-repeat="n in getNumber(5 - review.rating)">☆</span>
                                </span>
                                   
                                </span>
                                <br><br>
                                <span class="sentiment">{{review.sentiment}}</span>
                                <div class="feedback">
                                    {{review.feedback}}
                                </div>
                            </li>
                        </ul>
                    </div>'
                </div>
            </div>
        </div>
    </div>
</div>
